<div class="container" *ngIf="item">
    <div class="modal-header ">
        <h4 class="modal-title text-primary " id="modal-basic-title">Information sur le sable de {{item.nom}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="onClose()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Region
                          <span class="text-primary">{{item.region}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Nom
                          <span class="text-primary">{{item.nom}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                          Cc
                          <span class="text-primary">{{item.Cc}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Cu
                            <span class="text-primary">{{item.Cu}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dab
                            <span class="text-primary">{{item.Dab}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Dap
                            <span class="text-primary">{{item.Dap}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            ES
                            <span class="text-primary">{{item.ES}}</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Mf
                            <span class="text-primary">{{item.Mf}}</span>
                          </li>
                      </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card mb-3">
                    <div class="w-100 d-flex justify-content-center">
                        <h1>
                            Tableau de granulométrie
                        </h1>
                       
                    </div>
                    <table class="table">
    
                        <tr>
                            <th>Tamis</th>
                            <td *ngFor="let val of lineChartData">
                                {{val.x }}
                            </td>
                        </tr>
                        <tr>
                            <th>Passants</th>
                            <td *ngFor="let val of lineChartData">
                                {{val.y }}
                            </td>
                        </tr>
                    </table>
                </div>
               
                <div class="card" style="display: block">
                    <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [chartType]="lineChartType"
                        [legend]="lineChartLegend" [colors]="lineChartColors">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>