<div class="row d-flex justify-content-center">
    <div class="col-md-8 ">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">σ28j</th>
                    <th scope="col">Mvr</th>
                    <th scope="col">Action
                        <button (click)="onAdd()" class="btn btn-sm btn-secondary">Ajouter</button>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ciment of ciments; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{ciment.data.nom}}</td>
                    <td>{{ciment.data.resistance}}</td>
                    <td>{{ciment.data.Mvr}}</td>

                    <td>
                        <button type="button" (click)="onShow(ciment.id)" class="btn btn-primary">Voir</button>
                        <button type="button" (click)="onEdit(ciment.id)" class="btn btn-warning">Modifier</button>
                        <button type="button" (click)="onDelet(ciment.id)" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>