<div class="row d-flex justify-content-center">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Region</th>
                    <th scope="col">Cc</th>
                    <th scope="col">Cu</th>
                    <th scope="col">Dab</th>
                    <th scope="col">Dap</th>
                    <th scope="col">ES</th>
                    <th scope="col">Mf</th>
                    <th scope="col">Action
                        <button (click)="onAdd()" class="btn btn-sm btn-secondary">Ajouter</button>
                    </th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let sable of sables; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{sable.data.nom}}</td>
                    <td>{{sable.data.region}}</td>
                    <td>{{sable.data.Cc}}</td>
                    <td>{{sable.data.Cu}}</td>
                    <td>{{sable.data.Dab}}</td>
                    <td>{{sable.data.Dap}}</td>
                    <td>{{sable.data.ES}}</td>
                    <td>{{sable.data.Mf}}</td>
                    <td>
                        <button type="button" (click)="onShow(sable.id)" class="btn btn-primary">Voir</button>
                        <button type="button" (click)="onEdit(sable.id)" class="btn btn-warning">Modifier</button>
                        <button type="button" (click)="onDelet(sable.id)" class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
